{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}


{% block body %}
    {{ include('parts/page_header.html.twig', {
        'img_class': 'bg-battle-pet-horde',
        'title': 'WowCollection'
    }) }}

    {{ parent() }}
{% endblock %}

{% block subbody %}

    <div>
        <h1>Hello ! </h1>
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
        </ul>
        <ul>
            <img src="http://media.blizzard.com/wow/icons/56/%7B%7B BattlePet.icon }}.jpg"> </img> {{ BattlePet.name }}
            <li> Health : {{ BattlePet.health }}</li>
            <li> Power : {{ BattlePet.power }}</li>
            <li> Speed : {{ BattlePet.speed }}</li>
        </ul>
    </div>

{% endblock %}
