{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}
    {{ include('parts/page_header.html.twig', {
        'img_class': 'bg-battle-pet-horde',
        'title': 'WowCollection'
    }) }}

    {{ parent() }}
{% endblock %}

{% block subbody %}

    <div>
        <h1>Hello ! </h1>
        <ul>
            <li>{{ BattlePet.name }}</li>
            <li>
                <img src="http://media.blizzard.com/wow/icons/56/{{ BattlePet.icon }}.jpg" alt="{{ BattlePet.name }}"/>
            </li>
            <li> Health : {{ BattlePet.health }}</li>
            <li> Power : {{ BattlePet.power }}</li>
            <li> Speed : {{ BattlePet.speed }}</li>
        </ul>
    </div>

{% endblock %}
